*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.under-container{
    max-width: 1920px;
}

.header-img{
    height: 100vh;
    background-image: url(../home-page-img/Covid-19-theme_AFRICA5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.filler{
    font-size: 4rem;
    color: white;
    text-align: center;
    
    padding-top: 15%;

}

.about-homepage{
    background-color: aquamarine;
    height: 50vh;
}

.About{
    font-size: 2.5rem;
    padding: 2rem;
    
    text-align: center;
}

.home-page-text{
    
    margin-left: 6rem;
    margin-right: 6rem;
    font-size: 1.5rem;
    text-align: justify;
    padding: 2.5rem;
}